aside.emoji-picker-react{
    position: absolute;
    z-index: 999;
    top: 40px;
}
.css-m6j0xf:first-child{
display: none !important;
}
.emojiIcon .emoji-picker-react{
    position: absolute;
    z-index: 999;
    top: -320px;
    right: 50px;
}